* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Fira Sans", sans-serif;
}
#base {
  width: 300px;
  height: 300px;
  z-index: -1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.base2 {
  box-shadow: 40px 40px 80px cyan, -40px -40px 80px cyan;
  animation: base 1s linear infinite;
}
@keyframes base {
  from {
    filter: hue-rotate(0deg);
  }
  to {
    filter: hue-rotate(360deg);
  }
}
#wrappar {
  width: 300px;
  height: 95vh;
  box-shadow: 5px 5px 30px #000, -5px -5px 30px #69686862;
  background-color: #000;
  color: #fff;
  border-radius: 20px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
#head {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
#unusual{
  display: none;
}
#page1 {
  width: 100%;
  height: 100%;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
#slide {
  width: 100%;
  height: 95%;
  display: none;
}
#list {
  width: 100%;
  height: 100%;
  list-style: none;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
}
#list::-webkit-scrollbar {
  width: 0;
}

#list li {
  margin: 10px 0;
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.4s;
  border: 1px solid rgb(241, 12, 165);
}
#list li:hover{
  background-color: rgb(241, 12, 165);
}
#singer {
  color: rgba(255, 255, 255, 0.582);
}
#box {
  width: 200px;
  height: 200px;
  border-radius: 50%;
}
.box2 {
  animation: moveing 5s linear infinite;
}
@keyframes moveing {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
#box img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
#progress {
  width: 100%;
  display: flex;
  flex-direction: column;
}
#time {
  width: 100%;
  display: flex;
  margin-bottom: 5px;
  justify-content: space-between;
}

#border {
  height: 7px;
  border-radius: 10px;
  overflow: hidden;
  border: 1px solid rgb(241, 12, 165);
}
#line {
  width: 0;
  height: 100%;
  border: inherit;
  border-radius: 10px;
  background: linear-gradient(
    -135deg,
    rgb(245, 1, 253),
    rgb(2, 164, 240),
    rgb(250, 213, 2),
    rgb(253, 11, 2)
  );
}
#cur,
#total {
  font-size: 12px;
}
#con {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
#con i {
  width: 30px;
  height: 30px;
  color: #fff;
  background-color: rgb(241, 12, 165);
  border-radius: 50%;
  text-align: center;
  padding: 8px 0;
  transition: 0.4s;
  z-index: 3;
}
#con i:hover {
  background-color: #fff;
  color: rgb(241, 12, 165);
}
#ground {
  width: 100%;
  height: 30px;
}
.ground2 {
  background-image: url("../images/r5.gif");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
#ground img {
  width: 100%;
  height: 100%;
}
